<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.juliancamilomunoz.antioquiaturistica" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Hoteles"
            android:label="@string/title_activity_hoteles" >
        </activity>
        <activity
            android:name=".Turismo"
            android:label="@string/title_activity_turismo" >
        </activity>
        <activity
            android:name=".Bares"
            android:label="@string/title_activity_bares" >
        </activity>
        <activity
            android:name=".Demografia"
            android:label="@string/title_activity_demografia" >
        </activity>
        <activity
            android:name=".About"
            android:label="@string/title_activity_about"
            android:theme="@style/Base.Theme.AppCompat.Dialog" >
        </activity>
        <activity
            android:name=".Sala94"
            android:label="@string/title_activity_sala94" >
        </activity>
        <activity
            android:name=".Jano"
            android:label="@string/title_activity_jano" >
        </activity>
        <activity
            android:name=".Pizza"
            android:label="@string/title_activity_pizza" >
        </activity>
        <activity
            android:name=".Cruz"
            android:label="@string/title_activity_cruz" >
        </activity>
        <activity
            android:name=".Asuncion"
            android:label="@string/title_activity_asuncion" >
        </activity>
        <activity
            android:name=".SanJuan"
            android:label="@string/title_activity_san_juan" >
        </activity>
        <activity
            android:name=".Comfama"
            android:label="@string/title_activity_comfama" >
        </activity>
        <activity
            android:name=".CristoRey"
            android:label="@string/title_activity_cristo_rey" >
        </activity>
        <activity
            android:name=".Brazil"
            android:label="@string/title_activity_brazil" >
        </activity>
        <activity
            android:name=".Burros"
            android:label="@string/title_activity_burros" >
        </activity>
        <activity
            android:name=".HandM"
            android:label="@string/title_activity_hand_m" >
        </activity>
    </application>

</manifest>
